@import url("http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic");
/* ========================================================================
   Component: Utility
 ========================================================================== */
/* Container
 ========================================================================== */
.uk-container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 980px;
  padding: 0 25px; }

/* Large screen and bigger */
@media (min-width: 1220px) {
  .uk-container {
    max-width: 1200px;
    padding: 0 35px; } }
/*
 * Micro clearfix
 */
.uk-container:before,
.uk-container:after {
  content: "";
  display: table; }

.uk-container:after {
  clear: both; }

/*
 * Center container
 */
.uk-container-center {
  margin-left: auto;
  margin-right: auto; }

/* Clearing
 ========================================================================== */
/*
 * Micro clearfix
* `table-cell` is used with `:before` because `table` creates a 1px gap when it becomes a flex item, only in Webkit
 * `table` is used again with `:after` because `clear` only works with block elements.
 * Note: `display: block` with `overflow: hidden` is currently not working in the latest Safari
 */
.uk-clearfix:before {
  content: "";
  display: table-cell; }

.uk-clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*
 *  Create a new block formatting context
 */
.uk-nbfc {
  overflow: hidden; }

.uk-nbfc-alt {
  display: table-cell;
  width: 10000px; }

/* Alignment of block elements
 ========================================================================== */
/*
 * Float blocks
 * 1. Prevent content overflow on small devices
 */
.uk-float-left {
  float: left; }

.uk-float-right {
  float: right; }

/* 1 */
[class*='uk-float-'] {
  max-width: 100%; }

/* Alignment of images and objects
 ========================================================================== */
/*
 * Alignment
 */
[class*='uk-align-'] {
  display: block;
  margin-bottom: 15px; }

.uk-align-left {
  margin-right: 15px;
  float: left; }

.uk-align-right {
  margin-left: 15px;
  float: right; }

/* Tablet and bigger */
@media (min-width: 768px) {
  .uk-align-medium-left {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left; }

  .uk-align-medium-right {
    margin-left: 15px;
    margin-bottom: 15px;
    float: right; } }
.uk-align-center {
  margin-left: auto;
  margin-right: auto; }

/* Vertical alignment
 ========================================================================== */
/*
 * Remove whitespace between child elements when using `inline-block`
 */
.uk-vertical-align {
  font-size: 0.001px; }

/*
 *  The `uk-vertical-align` container needs a specific height
 */
.uk-vertical-align:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

/*
 * Sub-object which can have any height
 * 1. Reset whitespace hack
 */
.uk-vertical-align-middle,
.uk-vertical-align-bottom {
  display: inline-block;
  max-width: 100%;
  /* 1 */
  font-size: 1rem; }

.uk-vertical-align-middle {
  vertical-align: middle; }

.uk-vertical-align-bottom {
  vertical-align: bottom; }

/* Height
 ========================================================================== */
/*
 * More robust if padding and border are used
 */
[class*='uk-height'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Useful to extend the `html` and `body` element to the full height of the page.
 */
.uk-height-1-1 {
  height: 100%; }

/*
 * Useful to create image teasers
 */
.uk-height-viewport {
  height: 100vh;
  min-height: 600px; }

/* Responsive objects
 * Note: Images are already responsive by default, see Base component
 ========================================================================== */
/*
 * 1. Corrects `max-width` and `max-height` behavior if padding and border are used
 */
.uk-responsive-width,
.uk-responsive-height {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Responsiveness: Sets a maximum width relative to the parent and auto scales the height
 * `important` needed to override `uk-img-preserve img`
 */
.uk-responsive-width {
  max-width: 100% !important;
  height: auto; }

/*
 * Responsiveness: Sets a maximum height relative to the parent and auto scales the width
 * Only works if the parent element has a fixed height.
 */
.uk-responsive-height {
  max-height: 100%;
  width: auto; }

/* Margin
 ========================================================================== */
/*
 * Create a block with the same margin of a paragraph
 * Add margin if adjacent element
 */
.uk-margin {
  margin-bottom: 15px; }

* + .uk-margin {
  margin-top: 15px; }

.uk-margin-top {
  margin-top: 15px !important; }

.uk-margin-bottom {
  margin-bottom: 15px !important; }

.uk-margin-left {
  margin-left: 15px !important; }

.uk-margin-right {
  margin-right: 15px !important; }

/*
 * Larger margins
 */
.uk-margin-large {
  margin-bottom: 50px; }

* + .uk-margin-large {
  margin-top: 50px; }

.uk-margin-large-top {
  margin-top: 50px !important; }

.uk-margin-large-bottom {
  margin-bottom: 50px !important; }

.uk-margin-large-left {
  margin-left: 50px !important; }

.uk-margin-large-right {
  margin-right: 50px !important; }

/*
 * Smaller margins
 */
.uk-margin-small {
  margin-bottom: 5px; }

* + .uk-margin-small {
  margin-top: 5px; }

.uk-margin-small-top {
  margin-top: 5px !important; }

.uk-margin-small-bottom {
  margin-bottom: 5px !important; }

.uk-margin-small-left {
  margin-left: 5px !important; }

.uk-margin-small-right {
  margin-right: 5px !important; }

/*
 * Remove margins
 */
.uk-margin-remove {
  margin: 0 !important; }

.uk-margin-top-remove {
  margin-top: 0 !important; }

.uk-margin-bottom-remove {
  margin-bottom: 0 !important; }

/* Border
 ========================================================================== */
.uk-border-circle {
  border-radius: 50%; }

.uk-border-rounded {
  border-radius: 5px; }

/* Headings
 ========================================================================== */
.uk-heading-large {
  font-size: 36px;
  line-height: 42px; }

/* Tablet and bigger */
@media (min-width: 768px) {
  .uk-heading-large {
    font-size: 52px;
    line-height: 64px; } }
/* Link
 ========================================================================== */
/*
 * Let links appear in default text color
 */
.uk-link-muted,
.uk-link-muted a {
  color: #444444; }

.uk-link-muted:hover,
.uk-link-muted a:hover {
  color: #444444; }

/*
 * Reset link style
 */
.uk-link-reset,
.uk-link-reset a,
.uk-link-reset:hover,
.uk-link-reset a:hover {
  color: inherit;
  text-decoration: none; }

/* Scrollable
 ========================================================================== */
/*
 * Enable scrolling for preformatted text
 */
.uk-scrollable-text {
  height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  resize: both; }

/*
 * Box with scrolling enabled
 */
.uk-scrollable-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 170px;
  padding: 10px;
  border: 1px solid #dddddd;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  resize: both; }

.uk-scrollable-box > :last-child {
  margin-bottom: 0; }

/* Overflow
 ========================================================================== */
/*
 * Enable scrollbars if content is clipped
 */
.uk-overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.uk-overflow-container > :last-child {
  margin-bottom: 0; }

/* Position
 ========================================================================== */
.uk-position-absolute,
[class*='uk-position-top'],
[class*='uk-position-bottom'] {
  position: absolute !important; }

.uk-position-top {
  top: 0;
  width: 100%; }

.uk-position-bottom {
  bottom: 0;
  width: 100%; }

.uk-position-top-left {
  top: 0;
  left: 0; }

.uk-position-top-right {
  top: 0;
  right: 0; }

.uk-position-bottom-left {
  bottom: 0;
  left: 0; }

.uk-position-bottom-right {
  bottom: 0;
  right: 0; }

/*
 * Cover
 */
.uk-position-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/*
 * Relative
 */
.uk-position-relative {
  position: relative !important; }

/* Display
 ========================================================================== */
/*
 * Display
 */
.uk-display-block {
  display: block !important; }

.uk-display-inline {
  display: inline !important; }

.uk-display-inline-block {
  display: inline-block !important; }

/*
 * Visibility
 * Avoids setting display to `block` so it works also with `inline-block` and `table`
 */
/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-visible-small {
    display: none !important; }

  .uk-visible-medium {
    display: none !important; }

  .uk-hidden-large {
    display: none !important; } }
/* Tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
  .uk-visible-small {
    display: none !important; }

  .uk-visible-large {
    display: none !important; }

  .uk-hidden-medium {
    display: none !important; } }
/* Phone landscape and smaller*/
@media (max-width: 767px) {
  .uk-visible-medium {
    display: none !important; }

  .uk-visible-large {
    display: none !important; }

  .uk-hidden-small {
    display: none !important; } }
/* Remove from the flow and screen readers on any device */
.uk-hidden {
  display: none !important;
  visibility: hidden !important; }

/* It's hidden, but still affects layout */
.uk-invisible {
  visibility: hidden !important; }

/* Show on hover */
.uk-visible-hover:hover .uk-hidden,
.uk-visible-hover:hover .uk-invisible {
  display: block !important;
  visibility: visible !important; }

.uk-visible-hover-inline:hover .uk-hidden,
.uk-visible-hover-inline:hover .uk-invisible {
  display: inline-block !important;
  visibility: visible !important; }

/* Hide on touch */
.uk-touch .uk-hidden-touch,
.uk-notouch .uk-hidden-notouch {
  display: none !important; }

/* ========================================================================
   Component: Grid
 ========================================================================== */
/*
 * 1. Makes grid more robust so that it can be used with other block elements like lists
 */
.uk-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 1 */
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * DEPRECATED
 * Micro clearfix
 * Can't use `table` because it creates a 1px gap when it becomes a flex item, only in Webkit
 */
.uk-grid:before,
.uk-grid:after {
  content: "";
  display: block;
  overflow: hidden; }

.uk-grid:after {
  clear: both; }

/*
 * Grid cell
 * 1. Space is allocated solely based on content dimensions
 * 2. Makes grid more robust so that it can be used with other block elements
 * 3. DEPRECATED Using `float` to support IE9
 */
.uk-grid > * {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 2 */
  margin: 0;
  /* 3 */
  float: left; }

/*
 * Remove margin from the last-child
 */
.uk-grid > * > :last-child {
  margin-bottom: 0; }

/* Grid gutter
 ========================================================================== */
/*
 * Default gutter
 */
/* Horizontal */
.uk-grid {
  margin-left: -25px; }

.uk-grid > * {
  padding-left: 25px; }

/* Vertical */
.uk-grid + .uk-grid,
.uk-grid-margin,
.uk-grid > * > .uk-panel + .uk-panel {
  margin-top: 25px; }

/* Large screen and bigger */
@media (min-width: 1220px) {
  /* Horizontal */
  .uk-grid {
    margin-left: -35px; }

  .uk-grid > * {
    padding-left: 35px; }

  /* Vertical */
  .uk-grid + .uk-grid,
  .uk-grid-margin,
  .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 35px; } }
/*
 * Collapse gutter
 */
/* Horizontal */
.uk-grid-collapse {
  margin-left: 0; }

.uk-grid-collapse > * {
  padding-left: 0; }

/* Vertical */
.uk-grid-collapse + .uk-grid-collapse,
.uk-grid-collapse > .uk-grid-margin,
.uk-grid-collapse > * > .uk-panel + .uk-panel {
  margin-top: 0; }

/*
 * Small gutter
 */
/* Horizontal */
.uk-grid-small {
  margin-left: -10px; }

.uk-grid-small > * {
  padding-left: 10px; }

/* Vertical */
.uk-grid-small + .uk-grid-small,
.uk-grid-small > .uk-grid-margin,
.uk-grid-small > * > .uk-panel + .uk-panel {
  margin-top: 10px; }

/*
 * Medium gutter
 */
/* Horizontal */
.uk-grid-medium {
  margin-left: -25px; }

.uk-grid-medium > * {
  padding-left: 25px; }

/* Vertical */
.uk-grid-medium + .uk-grid-medium,
.uk-grid-medium > .uk-grid-margin,
.uk-grid-medium > * > .uk-panel + .uk-panel {
  margin-top: 25px; }

/* Modifier: `uk-grid-divider`
 ========================================================================== */
/*
 * Horizontal divider
 * Only works with the default gutter. Does not work with gutter collapse, small or large.
 * Does not work with `uk-push-*`, `uk-pull-*` and not if the columns float into the next row.
 */
.uk-grid-divider:not(:empty) {
  margin-left: -25px;
  margin-right: -25px; }

.uk-grid-divider > * {
  padding-left: 25px;
  padding-right: 25px; }

.uk-grid-divider > [class*='uk-width-1-']:not(.uk-width-1-1):nth-child(n+2),
.uk-grid-divider > [class*='uk-width-2-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-3-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-4-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-5-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-6-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-7-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-8-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-9-']:nth-child(n+2) {
  border-left: 1px solid #dddddd; }

/* Tablet and bigger */
@media (min-width: 768px) {
  .uk-grid-divider > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) {
    border-left: 1px solid #dddddd; } }
/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-grid-divider > [class*='uk-width-large-']:not(.uk-width-large-1-1):nth-child(n+2) {
    border-left: 1px solid #dddddd; } }
/* Large screen and bigger */
@media (min-width: 1220px) {
  /*
   * Large gutter
   */
  .uk-grid-divider:not(:empty) {
    margin-left: -35px;
    margin-right: -35px; }

  .uk-grid-divider > * {
    padding-left: 35px;
    padding-right: 35px; }

  .uk-grid-divider:empty {
    margin-top: 35px;
    margin-bottom: 35px; } }
/*
 * Vertical divider
 */
.uk-grid-divider:empty {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #dddddd; }

/* Match panels in grids
 ========================================================================== */
.uk-grid-match > * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
 * 1. Behave like a block element
 */
.uk-grid-match > * > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 1 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

/* Even grid cell widths
 ========================================================================== */
[class*='uk-grid-width'] > * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.uk-grid-width-1-2 > * {
  width: 50%; }

.uk-grid-width-1-3 > * {
  width: 33.333%; }

.uk-grid-width-1-4 > * {
  width: 25%; }

.uk-grid-width-1-5 > * {
  width: 20%; }

.uk-grid-width-1-6 > * {
  width: 16.666%; }

.uk-grid-width-1-10 > * {
  width: 10%; }

/* Phone landscape and bigger */
@media (min-width: 480px) {
  .uk-grid-width-small-1-2 > * {
    width: 50%; }

  .uk-grid-width-small-1-3 > * {
    width: 33.333%; }

  .uk-grid-width-small-1-4 > * {
    width: 25%; }

  .uk-grid-width-small-1-5 > * {
    width: 20%; }

  .uk-grid-width-small-1-6 > * {
    width: 16.666%; }

  .uk-grid-width-small-1-10 > * {
    width: 10%; } }
/* Tablet and bigger */
@media (min-width: 768px) {
  .uk-grid-width-medium-1-2 > * {
    width: 50%; }

  .uk-grid-width-medium-1-3 > * {
    width: 33.333%; }

  .uk-grid-width-medium-1-4 > * {
    width: 25%; }

  .uk-grid-width-medium-1-5 > * {
    width: 20%; }

  .uk-grid-width-medium-1-6 > * {
    width: 16.666%; }

  .uk-grid-width-medium-1-10 > * {
    width: 10%; } }
/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-grid-width-large-1-2 > * {
    width: 50%; }

  .uk-grid-width-large-1-3 > * {
    width: 33.333%; }

  .uk-grid-width-large-1-4 > * {
    width: 25%; }

  .uk-grid-width-large-1-5 > * {
    width: 20%; }

  .uk-grid-width-large-1-6 > * {
    width: 16.666%; }

  .uk-grid-width-large-1-10 > * {
    width: 10%; } }
/* Large screen and bigger */
@media (min-width: 1220px) {
  .uk-grid-width-xlarge-1-2 > * {
    width: 50%; }

  .uk-grid-width-xlarge-1-3 > * {
    width: 33.333%; }

  .uk-grid-width-xlarge-1-4 > * {
    width: 25%; }

  .uk-grid-width-xlarge-1-5 > * {
    width: 20%; }

  .uk-grid-width-xlarge-1-6 > * {
    width: 16.666%; }

  .uk-grid-width-xlarge-1-10 > * {
    width: 10%; } }
/* Sub-objects: `uk-width-*`
 ========================================================================== */
[class*='uk-width'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

/*
 * Widths
 */
/* Whole */
.uk-width-1-1 {
  width: 100%; }

/* Halves */
.uk-width-1-2,
.uk-width-2-4,
.uk-width-3-6,
.uk-width-5-10 {
  width: 50%; }

/* Thirds */
.uk-width-1-3,
.uk-width-2-6 {
  width: 33.333%; }

.uk-width-2-3,
.uk-width-4-6 {
  width: 66.666%; }

/* Quarters */
.uk-width-1-4 {
  width: 25%; }

.uk-width-3-4 {
  width: 75%; }

/* Fifths */
.uk-width-1-5,
.uk-width-2-10 {
  width: 20%; }

.uk-width-2-5,
.uk-width-4-10 {
  width: 40%; }

.uk-width-3-5,
.uk-width-6-10 {
  width: 60%; }

.uk-width-4-5,
.uk-width-8-10 {
  width: 80%; }

/* Sixths */
.uk-width-1-6 {
  width: 16.666%; }

.uk-width-5-6 {
  width: 83.333%; }

/* Tenths */
.uk-width-1-10 {
  width: 10%; }

.uk-width-3-10 {
  width: 30%; }

.uk-width-7-10 {
  width: 70%; }

.uk-width-9-10 {
  width: 90%; }

/* Phone landscape and bigger */
@media (min-width: 480px) {
  /* Whole */
  .uk-width-small-1-1 {
    width: 100%; }

  /* Halves */
  .uk-width-small-1-2,
  .uk-width-small-2-4,
  .uk-width-small-3-6,
  .uk-width-small-5-10 {
    width: 50%; }

  /* Thirds */
  .uk-width-small-1-3,
  .uk-width-small-2-6 {
    width: 33.333%; }

  .uk-width-small-2-3,
  .uk-width-small-4-6 {
    width: 66.666%; }

  /* Quarters */
  .uk-width-small-1-4 {
    width: 25%; }

  .uk-width-small-3-4 {
    width: 75%; }

  /* Fifths */
  .uk-width-small-1-5,
  .uk-width-small-2-10 {
    width: 20%; }

  .uk-width-small-2-5,
  .uk-width-small-4-10 {
    width: 40%; }

  .uk-width-small-3-5,
  .uk-width-small-6-10 {
    width: 60%; }

  .uk-width-small-4-5,
  .uk-width-small-8-10 {
    width: 80%; }

  /* Sixths */
  .uk-width-small-1-6 {
    width: 16.666%; }

  .uk-width-small-5-6 {
    width: 83.333%; }

  /* Tenths */
  .uk-width-small-1-10 {
    width: 10%; }

  .uk-width-small-3-10 {
    width: 30%; }

  .uk-width-small-7-10 {
    width: 70%; }

  .uk-width-small-9-10 {
    width: 90%; } }
/* Tablet and bigger */
@media (min-width: 768px) {
  /* Whole */
  .uk-width-medium-1-1 {
    width: 100%; }

  /* Halves */
  .uk-width-medium-1-2,
  .uk-width-medium-2-4,
  .uk-width-medium-3-6,
  .uk-width-medium-5-10 {
    width: 50%; }

  /* Thirds */
  .uk-width-medium-1-3,
  .uk-width-medium-2-6 {
    width: 33.333%; }

  .uk-width-medium-2-3,
  .uk-width-medium-4-6 {
    width: 66.666%; }

  /* Quarters */
  .uk-width-medium-1-4 {
    width: 25%; }

  .uk-width-medium-3-4 {
    width: 75%; }

  /* Fifths */
  .uk-width-medium-1-5,
  .uk-width-medium-2-10 {
    width: 20%; }

  .uk-width-medium-2-5,
  .uk-width-medium-4-10 {
    width: 40%; }

  .uk-width-medium-3-5,
  .uk-width-medium-6-10 {
    width: 60%; }

  .uk-width-medium-4-5,
  .uk-width-medium-8-10 {
    width: 80%; }

  /* Sixths */
  .uk-width-medium-1-6 {
    width: 16.666%; }

  .uk-width-medium-5-6 {
    width: 83.333%; }

  /* Tenths */
  .uk-width-medium-1-10 {
    width: 10%; }

  .uk-width-medium-3-10 {
    width: 30%; }

  .uk-width-medium-7-10 {
    width: 70%; }

  .uk-width-medium-9-10 {
    width: 90%; } }
/* Desktop and bigger */
@media (min-width: 960px) {
  /* Whole */
  .uk-width-large-1-1 {
    width: 100%; }

  /* Halves */
  .uk-width-large-1-2,
  .uk-width-large-2-4,
  .uk-width-large-3-6,
  .uk-width-large-5-10 {
    width: 50%; }

  /* Thirds */
  .uk-width-large-1-3,
  .uk-width-large-2-6 {
    width: 33.333%; }

  .uk-width-large-2-3,
  .uk-width-large-4-6 {
    width: 66.666%; }

  /* Quarters */
  .uk-width-large-1-4 {
    width: 25%; }

  .uk-width-large-3-4 {
    width: 75%; }

  /* Fifths */
  .uk-width-large-1-5,
  .uk-width-large-2-10 {
    width: 20%; }

  .uk-width-large-2-5,
  .uk-width-large-4-10 {
    width: 40%; }

  .uk-width-large-3-5,
  .uk-width-large-6-10 {
    width: 60%; }

  .uk-width-large-4-5,
  .uk-width-large-8-10 {
    width: 80%; }

  /* Sixths */
  .uk-width-large-1-6 {
    width: 16.666%; }

  .uk-width-large-5-6 {
    width: 83.333%; }

  /* Tenths */
  .uk-width-large-1-10 {
    width: 10%; }

  .uk-width-large-3-10 {
    width: 30%; }

  .uk-width-large-7-10 {
    width: 70%; }

  .uk-width-large-9-10 {
    width: 90%; } }
/* Sub-object: `uk-push-*` and `uk-pull-*`
 ========================================================================== */
/*
 * Source ordering
 * Works only with `uk-width-medium-*`
 */
/* Tablet and bigger */
@media (min-width: 768px) {
  [class*='uk-push-'],
  [class*='uk-pull-'] {
    position: relative; }

  /*
   * Push
   */
  /* Halves */
  .uk-push-1-2,
  .uk-push-2-4,
  .uk-push-3-6,
  .uk-push-5-10 {
    left: 50%; }

  /* Thirds */
  .uk-push-1-3,
  .uk-push-2-6 {
    left: 33.333%; }

  .uk-push-2-3,
  .uk-push-4-6 {
    left: 66.666%; }

  /* Quarters */
  .uk-push-1-4 {
    left: 25%; }

  .uk-push-3-4 {
    left: 75%; }

  /* Fifths */
  .uk-push-1-5,
  .uk-push-2-10 {
    left: 20%; }

  .uk-push-2-5,
  .uk-push-4-10 {
    left: 40%; }

  .uk-push-3-5,
  .uk-push-6-10 {
    left: 60%; }

  .uk-push-4-5,
  .uk-push-8-10 {
    left: 80%; }

  /* Sixths */
  .uk-push-1-6 {
    left: 16.666%; }

  .uk-push-5-6 {
    left: 83.333%; }

  /* Tenths */
  .uk-push-1-10 {
    left: 10%; }

  .uk-push-3-10 {
    left: 30%; }

  .uk-push-7-10 {
    left: 70%; }

  .uk-push-9-10 {
    left: 90%; }

  /*
   * Pull
   */
  /* Halves */
  .uk-pull-1-2,
  .uk-pull-2-4,
  .uk-pull-3-6,
  .uk-pull-5-10 {
    left: -50%; }

  /* Thirds */
  .uk-pull-1-3,
  .uk-pull-2-6 {
    left: -33.333%; }

  .uk-pull-2-3,
  .uk-pull-4-6 {
    left: -66.666%; }

  /* Quarters */
  .uk-pull-1-4 {
    left: -25%; }

  .uk-pull-3-4 {
    left: -75%; }

  /* Fifths */
  .uk-pull-1-5,
  .uk-pull-2-10 {
    left: -20%; }

  .uk-pull-2-5,
  .uk-pull-4-10 {
    left: -40%; }

  .uk-pull-3-5,
  .uk-pull-6-10 {
    left: -60%; }

  .uk-pull-4-5,
  .uk-pull-8-10 {
    left: -80%; }

  /* Sixths */
  .uk-pull-1-6 {
    left: -16.666%; }

  .uk-pull-5-6 {
    left: -83.333%; }

  /* Tenths */
  .uk-pull-1-10 {
    left: -10%; }

  .uk-pull-3-10 {
    left: -30%; }

  .uk-pull-7-10 {
    left: -70%; }

  .uk-pull-9-10 {
    left: -90%; } }
/* ========================================================================
   Component: Button
 ========================================================================== */
/*
 * Removes inner padding and border in Firefox 4+.
 */
.uk-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Remove margins in Chrome, Safari and Opera.
 * 3. Remove borders for `button`.
 * 4. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 5. Correct `font` properties and `color` not being inherited for `button`.
 * 6. Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE
 * 7. Style
 * 8. `line-height` is used to create a height
 * 9. `min-height` is necessary for `input` elements in Firefox and Opera because `line-height` is not working.
 * 10. Reset button group whitespace hack
 * 11. Required for `a`.
 */
.uk-button {
  /* 1 */
  -webkit-appearance: none;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  /* 4 */
  overflow: visible;
  /* 5 */
  font: inherit;
  color: #444444;
  /* 6 */
  text-transform: none;
  /* 7 */
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  background: #eeeeee;
  vertical-align: middle;
  /* 8 */
  line-height: 30px;
  /* 9 */
  min-height: 30px;
  /* 10 */
  font-size: 1rem;
  /* 11 */
  text-decoration: none;
  text-align: center; }

.uk-button:not(:disabled) {
  cursor: pointer; }

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 * 3. Required for `a` elements
 */
.uk-button:hover,
.uk-button:focus {
  background-color: whitesmoke;
  color: #444444;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none; }

/* Active */
.uk-button:active,
.uk-button.uk-active {
  background-color: #dddddd;
  color: #444444; }

/* Color modifiers
 ========================================================================== */
/*
 * Modifier: `uk-button-primary`
 */
.uk-button-primary {
  background-color: #00a8e6;
  color: white; }

/* Hover */
.uk-button-primary:hover,
.uk-button-primary:focus {
  background-color: #35b3ee;
  color: white; }

/* Active */
.uk-button-primary:active,
.uk-button-primary.uk-active {
  background-color: #0091ca;
  color: white; }

/*
 * Modifier: `uk-button-success`
 */
.uk-button-success {
  background-color: #8cc14c;
  color: white; }

/* Hover */
.uk-button-success:hover,
.uk-button-success:focus {
  background-color: #8ec73b;
  color: white; }

/* Active */
.uk-button-success:active,
.uk-button-success.uk-active {
  background-color: #72ae41;
  color: white; }

/*
 * Modifier: `uk-button-danger`
 */
.uk-button-danger {
  background-color: #da314b;
  color: white; }

/* Hover */
.uk-button-danger:hover,
.uk-button-danger:focus {
  background-color: #e4354f;
  color: white; }

/* Active */
.uk-button-danger:active,
.uk-button-danger.uk-active {
  background-color: #c91032;
  color: white; }

/* Disabled state
 * Overrides also the color modifiers
 ========================================================================== */
/* Equal for all button types */
.uk-button:disabled {
  background-color: whitesmoke;
  color: #999999; }

/* Modifier: `uk-button-link`
 ========================================================================== */
/* Reset */
.uk-button-link,
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active,
.uk-button-link:disabled {
  border-color: transparent;
  background: none; }

/* Color */
.uk-button-link {
  color: #0077dd; }

.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active {
  color: #005599;
  text-decoration: underline; }

.uk-button-link:disabled {
  color: #999999; }

/* Focus */
.uk-button-link:focus {
  outline: 1px dotted; }

/* Size modifiers
 ========================================================================== */
.uk-button-mini {
  min-height: 20px;
  padding: 0 6px;
  line-height: 20px;
  font-size: 11px; }

.uk-button-small {
  min-height: 25px;
  padding: 0 10px;
  line-height: 25px;
  font-size: 12px; }

.uk-button-large {
  min-height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-size: 16px; }

/* Sub-object `uk-button-group`
 ========================================================================== */
/*
 * 1. Behave like buttons
 * 2. Create position context for dropdowns
 * 3. Remove whitespace between child elements when using `inline-block`
 * 4. Prevent buttons from wrapping
 * 5. Remove whitespace between child elements when using `inline-block`
 */
.uk-button-group {
  /* 1 */
  display: inline-block;
  vertical-align: middle;
  /* 2 */
  position: relative;
  /* 3 */
  font-size: 0.001px;
  /* 4 */
  white-space: nowrap; }

.uk-button-group > * {
  display: inline-block; }

/* 5 */
.uk-button-group .uk-button {
  vertical-align: top; }

/* Sub-object: `uk-button-dropdown`
 ========================================================================== */
/*
 * 1. Behave like buttons
 * 2. Create position context for dropdowns
 */
.uk-button-dropdown {
  /* 1 */
  display: inline-block;
  vertical-align: middle;
  /* 2 */
  position: relative; }

/* ========================================================================
   Component: Form
 ========================================================================== */
/*
 * 1. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `button`, `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Correct `font` properties and `color` not being inherited.
 */
.uk-form input,
.uk-form select,
.uk-form textarea {
  /* 1 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  /* 3 */
  border-radius: 0;
  /* 4 */
  font: inherit;
  color: inherit; }

/*
 * Address inconsistent `text-transform` inheritance which is only inherit in Firefox
 */
.uk-form select {
  text-transform: none; }

/*
 * 1. Correct `font` properties not being inherited.
 * 2. Don't inherit the `font-weight` and use `bold` instead.
 * NOTE: Both declarations don't work in Chrome, Safari and Opera.
 */
.uk-form optgroup {
  /* 1 */
  font: inherit;
  /* 2 */
  font-weight: bold; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
.uk-form input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * Removes excess padding in IE 8/9/10.
 */
.uk-form input[type="checkbox"],
.uk-form input[type="radio"] {
  padding: 0; }

/*
 * Improves consistency of cursor style for clickable elements
 */
.uk-form input[type="checkbox"]:not(:disabled),
.uk-form input[type="radio"]:not(:disabled) {
  cursor: pointer; }

/*
 * Remove default style in iOS.
 */
.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="number"],
.uk-form input[type="datetime"] {
  -webkit-appearance: none; }

/*
 * Remove inner padding and search cancel button in Chrome, Safari and Opera on OS X.
 */
.uk-form input[type="search"]::-webkit-search-cancel-button,
.uk-form input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
.uk-form input[type="number"]::-webkit-inner-spin-button,
.uk-form input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/*
 * Define consistent border, margin, and padding.
 */
.uk-form fieldset {
  border: none;
  margin: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Improve readability and alignment in all browsers.
 */
.uk-form textarea {
  /* 1 */
  overflow: auto;
  /* 2 */
  vertical-align: top; }

/*
 * Removes placeholder transparency in Firefox.
 */
.uk-form ::-moz-placeholder {
  opacity: 1; }

/*
 * Removes `box-shadow` for invalid controls in Firefox.
 */
.uk-form :invalid {
  box-shadow: none; }

/*
 * Vertical alignment
 */
.uk-form input:not([type="radio"]):not([type="checkbox"]),
.uk-form select {
  vertical-align: middle; }

/* Style
 ========================================================================== */
/*
 * Remove margin from the last-child
 */
.uk-form > :last-child {
  margin-bottom: 0; }

/*
 * Controls
 * Except for `range`, `radio`, `checkbox`, `file`, `submit`, `reset`, `button` and `image`
 * 1. Must be `height` because `min-height` is not working in OSX
 * 2. Responsiveness: Sets a maximum width relative to the parent to scale on narrower viewports
 * 3. Vertical `padding` needed for `select` elements in Firefox
 * 4. Style
 */
.uk-form select,
.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"] {
  /* 1 */
  height: 30px;
  /* 2 */
  max-width: 100%;
  /* 3 */
  padding: 4px 6px;
  /* 4 */
  border: 1px solid #dddddd;
  background: white;
  color: #444444; }
  .uk-form select:focus,
  .uk-form textarea:focus,
  .uk-form input:not([type]):focus,
  .uk-form input[type="text"]:focus,
  .uk-form input[type="password"]:focus,
  .uk-form input[type="datetime"]:focus,
  .uk-form input[type="datetime-local"]:focus,
  .uk-form input[type="date"]:focus,
  .uk-form input[type="month"]:focus,
  .uk-form input[type="time"]:focus,
  .uk-form input[type="week"]:focus,
  .uk-form input[type="number"]:focus,
  .uk-form input[type="email"]:focus,
  .uk-form input[type="url"]:focus,
  .uk-form input[type="search"]:focus,
  .uk-form input[type="tel"]:focus,
  .uk-form input[type="color"]:focus {
    border-color: #dddddd;
    outline: 0;
    background: white;
    color: #444444; }
  .uk-form select:disabled,
  .uk-form textarea:disabled,
  .uk-form input:not([type]):disabled,
  .uk-form input[type="text"]:disabled,
  .uk-form input[type="password"]:disabled,
  .uk-form input[type="datetime"]:disabled,
  .uk-form input[type="datetime-local"]:disabled,
  .uk-form input[type="date"]:disabled,
  .uk-form input[type="month"]:disabled,
  .uk-form input[type="time"]:disabled,
  .uk-form input[type="week"]:disabled,
  .uk-form input[type="number"]:disabled,
  .uk-form input[type="email"]:disabled,
  .uk-form input[type="url"]:disabled,
  .uk-form input[type="search"]:disabled,
  .uk-form input[type="tel"]:disabled,
  .uk-form input[type="color"]:disabled {
    border-color: #dddddd;
    background-color: whitesmoke;
    color: #999999; }

/*
 * Placeholder
 */
.uk-form :-ms-input-placeholder {
  color: #999999 !important; }

.uk-form ::-moz-placeholder {
  color: #999999; }

.uk-form ::-webkit-input-placeholder {
  color: #999999; }

.uk-form :disabled:-ms-input-placeholder {
  color: #999999 !important; }

.uk-form :disabled::-moz-placeholder {
  color: #999999; }

.uk-form :disabled::-webkit-input-placeholder {
  color: #999999; }

/*
 * Legend
 * 1. Behave like block element
 * 2. Correct `color` not being inherited in IE 8/9/10/11.
 * 3. Remove padding
 * 4. `margin-bottom` is not working in Safari and Opera.
 *    Using `padding` and :after instead to create the border
 * 5. Style
 */
.uk-form legend {
  /* 1 */
  width: 100%;
  /* 2 */
  border: 0;
  /* 3 */
  padding: 0;
  /* 4 */
  padding-bottom: 15px;
  /* 5 */
  font-size: 18px;
  line-height: 30px; }

/*
 * 1. Fixes IE9
 */
.uk-form legend:after {
  content: "";
  display: block;
  border-bottom: 1px solid #dddddd;
  /* 1 */
  width: 100%; }

/* Size modifiers
 * Higher specificity needed to override defaults
 ========================================================================== */
select.uk-form-small,
textarea.uk-form-small,
input[type].uk-form-small,
input:not([type]).uk-form-small {
  height: 25px;
  padding: 3px 3px;
  font-size: 12px; }

select.uk-form-large,
textarea.uk-form-large,
input[type].uk-form-large,
input:not([type]).uk-form-large {
  height: 40px;
  padding: 8px 6px;
  font-size: 16px; }

/* Reset height
 * Must be after size modifiers
 ========================================================================== */
.uk-form textarea,
.uk-form select[multiple],
.uk-form select[size] {
  height: auto; }

/* Validation states
 * Using !important to keep the selector simple
 ========================================================================== */
/*
 * Error state
 */
.uk-form-danger {
  border-color: #dc8d99 !important;
  background: #fff7f8 !important;
  color: #d85030 !important; }

/*
 * Success state
 */
.uk-form-success {
  border-color: #8ec73b !important;
  background: #fafff2 !important;
  color: #659f13 !important; }

/* Style modifiers
 * Using !important to keep the selector simple
 ========================================================================== */
/*
 * Blank form
 */
.uk-form-blank {
  border-color: transparent !important;
  border-style: dashed !important;
  background: none !important; }

.uk-form-blank:focus {
  border-color: #dddddd !important; }

/* Size sub-modifiers
 ========================================================================== */
/*
 * Fixed widths
 * Different widths for mini sized `input` and `select` elements
 */
input.uk-form-width-mini {
  width: 40px; }

select.uk-form-width-mini {
  width: 65px; }

.uk-form-width-small {
  width: 130px; }

.uk-form-width-medium {
  width: 200px; }

.uk-form-width-large {
  width: 500px; }

/* Sub-objects: `uk-form-row`
 * Groups labels and controls in rows
 ========================================================================== */
/*
 * Micro clearfix
 * Needed for `uk-form-horizontal` modifier
 */
.uk-form-row:before,
.uk-form-row:after {
  content: "";
  display: table; }

.uk-form-row:after {
  clear: both; }

/*
 * Vertical gutter
 */
.uk-form-row + .uk-form-row {
  margin-top: 15px; }

/* Help text
 * Sub-object: `uk-form-help-inline`, `uk-form-help-block`
 ========================================================================== */
.uk-form-help-inline {
  display: inline-block;
  margin: 0 0 0 10px; }

.uk-form-help-block {
  margin: 5px 0 0 0; }

/* Controls content
 * Sub-object: `uk-form-controls`, `uk-form-controls-condensed`
 ========================================================================== */
/*
 * Remove margins
 */
.uk-form-controls > :first-child {
  margin-top: 0; }

.uk-form-controls > :last-child {
  margin-bottom: 0; }

/*
 * Group controls and text into blocks with a small spacing between blocks
 */
.uk-form-controls-condensed {
  margin: 5px 0; }

/* Modifier: `uk-form-stacked`
 * Requires sub-object: `uk-form-label`
 ========================================================================== */
.uk-form-stacked .uk-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; }

/* Modifier: `uk-form-horizontal`
 * Requires sub-objects: `uk-form-label`, `uk-form-controls`
 ========================================================================== */
/* Tablet portrait and smaller */
@media (max-width: 959px) {
  /* Behave like `uk-form-stacked` */
  .uk-form-horizontal .uk-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; } }
/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-form-horizontal .uk-form-label {
    width: 200px;
    margin-top: 5px;
    float: left; }

  .uk-form-horizontal .uk-form-controls {
    margin-left: 215px; }

  /* Better vertical alignment if controls are checkboxes and radio buttons with text */
  .uk-form-horizontal .uk-form-controls-text {
    padding-top: 5px; } }
/* Sub-object: `uk-form-icon`
 ========================================================================== */
/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Prevent `inline-block` consequences
 */
.uk-form-icon {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%; }

/*
 * 1. Make form element clickable through icon
 */
.uk-form-icon > [class*='uk-icon-'] {
  position: absolute;
  top: 50%;
  width: 30px;
  margin-top: -7px;
  font-size: 14px;
  color: #999999;
  text-align: center;
  /* 1 */
  pointer-events: none; }

.uk-form-icon:not(.uk-form-icon-flip) > input {
  padding-left: 30px !important; }

/*
 * Sub-modifier: `uk-form-icon-flip`
 */
.uk-form-icon-flip > [class*='uk-icon-'] {
  right: 0; }

.uk-form-icon-flip > input {
  padding-right: 30px !important; }

@font-face {
  font-family: "crimson400";
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/crimson400.woff2") format("woff2"); }
@font-face {
  font-family: "crimson400-ita";
  font-style: italic;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/crimson400-ita.woff2") format("woff2"); }
@font-face {
  font-family: "crimson700";
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/crimson700.woff2") format("woff2"); }
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "crimson400";
  text-align: center; }
  html .header, body .header {
    font-family: "crimson400-ita";
    font-style: italic; }
