@import url("http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic");
@import "uikit/variables.scss";
@import "uikit/utility.scss";
@import "uikit/grid.scss";
@import "uikit/button.scss";
@import "uikit/form.scss";

@font-face {
  font-family: "Crimson";
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/crimson400.woff2') format("woff2");
}

@font-face {
  font-family: "Crimson";
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/crimson400-ita.woff2') format("woff2");
}

@font-face {
  font-family: "Crimson";
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/crimson700.woff2') format("woff2");
}

// variables
$base-font-family: "Crimson", serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$white:            #fff;
$black:            #000;

$text-color:       $black;
$background-color: $white;
// $brand-color:      #92a75d;
// $brand-color-light: lighten($brand-color, 40%);
// $brand-color-dark: darken($brand-color, 25%);

$grey-color: lighten($black, 40%);
$grey-color-light:  lighten($grey-color, 40%);

$content-width:    1024px;
$on-small:         480px;
$on-medium:        768px;
$on-large:         960px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

.no-display {
  display: none !important;
}