@import "base.scss";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: $base-font-family;
	text-align: center;

	.header {
		font-family: $base-font-family;
		font-style: italic;
	}

  .highlight {
    background: $highlight-color;
  }

  .credit {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: $grey-color-light;
    text-decoration: none;
  }
}